.comment-root-container{
    background-color: rgb(169, 187, 202);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.comment-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.delete-comment-icon{
    padding: 10px;
    width: 20px;
    height: 20px;
}
.delete-comment-icon:hover{
    cursor: pointer;
}
.comment-author{
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.author-picture{
    padding: 5px;
    border-radius: 100%;
    width: 45px;
    height: 45px;
}
.author-username{
    padding-top: 5px;
    padding-left: 5px;
    font-size: 17px;
}
.comment-content{
    padding: 10px;
}
.comment-input{
    max-width: 400px;
    min-width: 400px;
    min-height: 20px;
}
.comment-submit-button{
    width: 50px;
}
.comment-submit-icon{
    height: 20px;
    width: 30px;
}
.reply{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.reply-button{
    background-color: cornflowerblue;
    border: none;
    border-radius: 5px;
}

.reply-button:hover{
    cursor: pointer;
}

.upvote-icon{
    padding-bottom: 5px;
    padding-right: 5px;
    width: 25px;
    height: 25px;
}

.upvote-icon:hover{
    cursor: pointer;
}

.comment-content img{
    max-width: -webkit-fill-available;
}

@media (max-width: 768px) {
    .comment-root-container {
        width: 90%;
        padding: 5%;
    }

    .comment-content {
        font-size: 14px;
    }

    .comment-username {
        font-size: 14px;
        margin-right: 5px;
    }

    .comment-options {
        font-size: 12px;
        padding-top: 5px;
    }
}
