#focus-post-root-container{
    width: 100%;
    position: relative;
    top: 130px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    min-width: 500px;
    min-height: 700px;
}
#link-back{
    width: 50px;
    padding: 10px;
}
#arrow-back{
    transform: rotate(180deg);
    width: 50px;
    height: 50px;
}

#arrow-back:hover{
cursor: pointer;
}

@media (max-width: 768px) {
    .focus-post-root-container {
        top: 55px;
        padding-top: 5%;
        min-width: initial;
        min-height: initial;
    }

    .focus-post-top {
        flex-direction: column;
        align-items: flex-start;
    }

    .focus-post-author {
        border-bottom: none;
    }

    .focus-post-content {
        padding: 5% 0;
        font-size: 14px;
    }

    .focus-post-comments-frame {
        margin-top: 5%;
    }

    .comment-submit-button {
        width: 30px;
    }

    .comment-submit-icon {
        height: 15px;
        width: 25px;
    }

    .gifs-anchor {
        width: 20px;
        height: 20px;
    }
}
