#navbar-root-container{
    position: fixed;
    width: 100%;
    z-index: 1;
}
#navbar{
    background-image: linear-gradient(to bottom, #ffffff 0%, hsl(275, 19%, 35%) 100%);
    display: flex;
    flex-direction: row;
    padding-top: 1%;
    padding-left: 3%;
    padding-bottom: 2%;
    min-width: 500px;
    height: 50px;
}
#navbar-items{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.nav-link{
    background-color: transparent;
    border: none;
    border-bottom: black solid 1px;
    height: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black
}
.navbar-button:hover{
    cursor: pointer;
}
#logo{
    width: 155px;
    height: 55px;
}
#navbar-title{
    margin-left: 20px;
    align-self: center;
}
#navbar-connected{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #C9BEEA;
}
#menu-button{
    background-color: transparent;
    border: none;
}
#notifications-button{
    background-color: transparent;
    border: none;
}
#menu-icon{
    width: 25px;
    height: 25px;
    padding: 5px;
    margin: 2px;
}
#menu-icon:hover{
    cursor: pointer;
}

#bell-icon{
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 2px;
    background-color: #888DBF;
    border: 1px solid black;
    border-radius: 100%;
}

#bell-icon:hover{
    cursor: pointer;
}

#menu-button:focus #menu{
    animation: slideright 1s forwards;
}

#menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -100%;
    width: 25%;
    height: 700px;
    background-color: #888DBF;
    opacity: 0.9;
}
#profile{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#navbar-profile-picture{
    width: 50px;
    height: 50px;
}

#navbar-profile-username{
    font-size: 20px;
    padding: 5px;
}
.menu-item{
    border-top: aliceblue solid 1px;
    border-bottom: aliceblue solid 1px;
    padding: 10px;
    color: black;
}
.menu-item:hover{
    cursor: pointer;
    color: white;
}
.menu-item a{
    text-decoration: none;
}
#notifications{
    position: absolute;
    right: -100%;
    width: 25%;
    height: 700px;
    background-color: #888DBF;
    opacity: 0.9;
    overflow-y: scroll;
}
#notifications-button:focus #notifications{
    animation: slideleft 1s forwards;
}

#menu:hover{
    left: 0px;
}

#notifications:hover{
    right: 0px;
}

@keyframes slideright {
    100% {left: 0%;}
}

@keyframes slideleft {
    100% {right: 0%;}
}

@media (max-width: 768px) {
    #navbar-root-container {
        padding: 0;
        background-color: hsl(275, 19%, 35%);
    }

    #navbar {
        padding: 2% 3%;
        height: auto;
    }

    #navbar-items {
        display: none;
    }

    #menu-button, #notifications-button {
        display: block;
        width: 50px;
        height: 50px;
    }

    #menu {
        width: 50%;
    }

    #notifications {
        width: 50%;
    }
}
